:root {
  --white: #ffffff;
  --gray1: #edf2f6;
  --gray2: #2f3848;
  --gray3: #1a202d;
  --black: #000000;
  --headingFont:'Raleway', sans-serif;
  --textFont:  'Lato', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
} 
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%; 

}

body {
  min-height: 100%;
  background: #200122;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
  font-size: 16px; 
  font-size: 1.6rem;
  font-family: var(--textFont);

}


h1, h2 {
  font-family: var(--headingFont);
  font-weight: 900;
  margin: 0 0 4rem 0;
  text-align: center;
  color: var(--gray2);
}

.form-login {
  background: #200122;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  height: 100vh;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-form {
  padding: 5rem 3rem;
  max-width: 500px;
  width: 95%;
  background-color: var(--white);
  border-radius: 1rem;
}

.container-new-message {
  padding: 4rem 3rem;
  max-width: 700px;
  width: 95%;
  background-color: var(--white);
  border-radius: 1rem;
}

.textarea {
  font-size: 1.6rem;
}

.element-form {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}
.element-form:last-of-type {
margin: 0;
}
.element-form label {
flex: 0 0 100px;
font-family: var(--textFont);
}
.element-form input[type="password"],
.element-form input[type="email"], 
.element-form input[type="text"] {
border: 1px solid #e1e1e1;
padding: 1rem;
flex: 1;
}

.btn {
  margin-top: 2rem;
  font-family: var(--headingFont);
  padding: 1.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  border-radius: .5rem;
  border: none;
  transition: background-color .3s ease;
}
.btn:hover {
  cursor: pointer;
}
.btn-primary {
  background-color:#6f0000;
  color: var(--white);
}
.btn-primary:hover {
  background: var(--gray3);
}
.btn-secundary {
  background-color: var(--gray1);
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-submit:hover {
  background-color: var(--gray2);
}
.btn-blank {
  margin: 0;
  padding: 0;
  display: block;
  background-color: transparent;
}

.link-account {
  margin-top: 2rem;
  display: block;
  opacity: .7;
}

.ccm_forum_ctn--list {
    margin: 0 -20px 20px -20px;
}

.message {

  background-color: #2f3848 ;
  color: white;
  border-radius: 20px;
  

}

.user {

  background-color: #ffffffa1 ;
  color: black;
  border-radius: 20px;
  

}

.size-image {
  height: 80px;
  width: 80px;
  
}

.title-forum {
  color: white;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2px;
  color: white;
} 


#modal button{
  background-color: #ad343e;
  padding: 5px 25px;
  color: white;
  font-size: 18px;
  border: #333 1px solid;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}


#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  max-width: 500px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

#modal .buttons button {
  display: inline-block;
  margin-right: 15px;
}